body{
  background-image: url("https://cdn.motor1.com/images/mgl/0e4wRW/s1/ferrari-f1-75-right-front-quarter-view.jpg");
  margin: 0;
  padding: 1px;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}